{% extends 'catalog/base.html' %}

{% load my_tags %}

{% block title %}Блог{% endblock %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Блог</h1>

    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blog:blogentry_create' %}">Добавить
        запись</a>

    {% if is_content_manager %}
    {{ objects }}
    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blog:all_blogentry_list' %}">Управлять
        публикациями</a>
    {% else %}
    <a class="btn btn-lg btn-block btn-outline-primary" href="#">МОИ ЗАПИСИ В БЛОГЕ</a>
    {% endif %}

</div>

<div class="container">
    <div class="row">

        {% for blog_entry in object_list %}

        <div class="col-12">

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="card-header col-4">
                        <img src="{{ blog_entry.preview | media_filter }}" class="img-fluid" style="object-fit: cover;">
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <h5 class="card-title">{{ blog_entry.title }}</h5>
                            <p class="card-text">{{ blog_entry.content|truncatechars:100 }}</p>
                            <p class="card-text"><small class="text-body-secondary">Количество просмотров - {{ blog_entry.view_count }}</small></p>
                            <p class="card-text"><small class="text-body-secondary">Создан: {{ blog_entry.created_at }}</small></p>
                            <p class="card-text"><small class="text-body-secondary">Автор: {{ blog_entry.author }}</small></p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card-body">
                            <a type="button" class="btn btn-outline-primary"
                               href="{% url 'blog:blogentry_detail' blog_entry.pk %}">Подробнее</a>
                            <a type="button" class="btn btn-outline-primary"
                               href="{% url 'blog:blogentry_update' blog_entry.pk %}">Изменить</a>
                            <a type="button" class="btn btn-outline-danger"
                               href="{% url 'blog:blogentry_delete' blog_entry.pk %}">Удалить</a>
                            {% if is_content_manager %}
                            <form action="{% url 'blog:blogentry_unpublish' blog_entry.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger btn-sm">Снять с публикации</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {% endfor %}

    </div>
    <div class="col-12">

    </div>
</div>

{% endblock %}