{% extends 'catalog/base.html' %}

{% load my_tags %}

{% block title %}Продукт{% endblock %}

{% block content %}


<div class="container">
    <div class="row text-center">


        <div class="col-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <img src="{{ object.preview | media_filter}}" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ object.title }}</h5>


                        <p>{{ object.content }}</p>
                        <p class="card-text"><small class="text-body-secondary">Количество просмотров - {{ object.view_count }}</small></p>
                        <p class="card-text"><small class="text-body-secondary">Создан: {{ object.created_at }}</small>
                        </p>

                        <h5 class="card-title">Вы действительно хотите удалить "{{ object.title }}"?</h5>
                        <button type="submit" class="btn btn-lg btn-block btn-outline-danger">Подтвердить</button>
                        <a type="button" class="btn btn-outline-primary"
                           href="{% url 'blog:blogentry_list' %}">Отменить</a>

                    </div>
                </div>
            </form>
        </div>



    </div>
</div>

{% endblock %}