{% extends 'catalog/base.html' %}

{% load my_tags %}

{% block title %}Запись{% endblock %}

{% block content %}


<div class="container">
    <div class="row text-center">


        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <img src="{{ object.preview | media_filter}}" class="img-fluid">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ object.title }}</h5>


                        <p>{{ object.content }}</p>
                        <p class="card-text"><small class="text-body-secondary">Количество просмотров - {{ object.view_count }}</small></p>
                        <p class="card-text"><small class="text-body-secondary">Создан: {{ object.created_at }}</small></p>


                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}