{% extends 'catalog/base.html' %}

{% block title %}Skystore{% endblock %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>

    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="/add_product/">Добавить продукт</a>
</div>

<div class="container">
    <div class="row text-center">

        {% for product in products %}
        <div class="col-4 d-flex">
            <div class="card mb-4 box-shadow w-100">
                <div class="card-header">
                    <img src="/media/{{ product.image }}" class="img-fluid" style="height: 12rem; object-fit: cover;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h3>
                    <p>Категория: {{ product.category }}</p>

                    <p>{{ product.description|truncatechars:100 }}</p>

                    <h3 class="card-title pricing-card-title">{{ product.price }}</h3>
                    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="/product/{{ product.pk }}">Подробнее о товаре</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="col-12">
    {% include "catalog/includes/inc_nav.html" with page_obj=products %}
    </div>
</div>

{% endblock %}