{% extends 'catalog/base.html' %}

{% block title %}Продукт{% endblock %}

{% block content %}


<div class="container">
    <div class="row text-center">


        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <img src="/media/{{ product.image }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h3>
                    <p>Категория: {{ product.category }}</p>

                    <p>{{ product.description|truncatechars:100 }}</p>

                    <h3 class="card-title pricing-card-title">{{ product.price }}</h3>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}